html{
    scroll-behavior: smooth;
}

p{
    color: #656565;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.navigation{
    padding: 50px 250px 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.navigation a{
    color: #656565;
    text-decoration: none;
}
.navigation a:hover{
    color: #4f72e8;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user h2, .user p{
    margin: 0;
}

.user img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.banner{
    padding: 0 250px 0 250px;
    margin-bottom: 20px;
}

.banner img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.banner h2{
    margin: 0;
}

.banner p{
    margin: 0px 0 10px 0;
    color: #656565;
}

.about{
    padding: 20px 250px 0 250px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 55%;
    margin-right: 20px;
}

.about img{
    width: 45%;
    height: 300px;
    object-fit: cover;
}

.socials a img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: .2s ease;
}

.socials a img:hover{
    filter: brightness(80%);
}

.socials a{
    text-decoration: none;
}

.socials{
    margin-top: 60px;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.card{

    background-color: #d6f6f8;
    padding: 10px;
    width: 500px;
}

.card :hover{
    filter: drop-shadow(0 0 10px rgb(28, 92, 28));
    cursor: pointer;
}
.card img{
    width: 100%;
    height: 200px;
}
.portfolio{
    padding: 20px 250px 0 250px;
}
.contaks{
    padding: 20px 250px 0 250px;
}
.top-part{
    display: flex;
    gap: 10px;
    margin bottom: 20px;
}
.contaks p{
    margin: 0;
    color: #4f72e8;
    font-weight: bold;
    font-size: 12px;
}
.input-box input{
    width: 300px;
    background-color: #F2F2F2;
    border: none;
    padding: 5px;
}

textarea{
    background-color: #F2F2F2;
    border: none;
    padding: 5px;
}
.content{
    width: fit-content;
}
.but{
    margin-top: 10px;
    background-color: #F2F2F2;
    color: rgb(43, 97, 247);
    border: none;
    padding: 10px 15px;
}
.but:hover{
    background-color: aqua;
    color: white;
    cursor: pointer;
}
footer{
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 250px;

}

footer a{
    color: #A0A0A0;
    text-decoration: none;
}
footer a:hover{
    color: #402de2;

}
footer p{
    color: #A0A0A0;
}